body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-family: "Poppins", sans-serif;
    color: #3a3a3a;
    font-weight: 700;

}

header,
main {
    margin: 0 120px;
}

/* Navbar Section  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-icon {
    font-size: 24px;
}

.navbar-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-links li {
    font-size: 16px;
}

/* Top Section  */
.top-section {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-content {
    width: 50%;

}

.top-title {
    font-size: 52px;
    font-weight: 700;
    
}


.top-image{
padding-top: 40px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}

.top-section p {
    font-size: 16px;
    padding: 16px 0px;
    margin: 0;
}

button {
    border: none;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #ffffff;
}

button span {
    padding-left: 8px;
}

/* Sponsor section  */

.sponsor-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr {
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}

/* Collection Section  */

.collection-title {
    font-size: 28px;
    text-align: center;
}

.collections{
    padding: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: inline-block;

}

.collection-image{
    width: 100%;
}

.collection-name{
    font-size: 28px;
    font-weight: 500;
    margin: 16px 0px 6px;
}

.collection-price{
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
}

.star{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.collections>p{
    font-size: 14px;
    margin: 0;
}